@charset "UTF-8";
/*Start Page Varibles*/
/*Start Page mixin*/
/*Global proparits*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Cairo", sans-serif, "Open Sans", sans-serif, "Raleway", sans-serif;
}

.head-width-border {
  position: relative;
}
.head-width-border h2 {
  margin: 40px auto;
  text-align: center;
  background-color: #e2494c;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  width: 300px;
  border-radius: 10px;
}
.head-width-border h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  left: 0;
  top: 50%;
  z-index: -1;
}

.header {
  padding: 10px 0 0;
  border-bottom: 3px solid #ccc;
}
.header .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .box .logo {
  padding-top: 20px;
}
@media (max-width: 991px) {
  .header .box .logo {
    text-align: center;
    width: 100%;
  }
}
.header .box .logo h2 {
  font-weight: bold;
  font-size: 35px;
  margin: 0;
}
.header .box .logo p {
  color: #9c9c9c;
  line-height: 1.7;
}
.header .box .links {
  background-color: #e2494c;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto 10px;
}
@media (max-width: 991px) {
  .header .box .links {
    margin: 0 auto 10px;
  }
}
@media (max-width: 768px) {
  .header .box .links {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header .box .links li {
  margin-right: 25px;
}
@media (max-width: 768px) {
  .header .box .links li {
    margin-bottom: 25px;
  }
}
.header .box .links li a {
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  cursor: pointer;
}
.header .box .links li a:hover {
  color: #ddd;
}

.slider {
  text-align: center;
}
.slider blockquote {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 1.8;
  color: #777;
  font-style: italic;
}
.slider img {
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.slider img:not(.active) {
  display: none;
}
.slider .bulets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider .bulets li {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 50%;
  list-style: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.slider .bulets li.active, .slider .bulets li:hover {
  background-color: #e2494c;
}

.services {
  padding: 80px 0;
}
.services .content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
@media (max-width: 768px) {
  .services .content .box {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .services .content .text-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.services .content .text-services h2 {
  font-weight: normal;
  font-size: 20px;
  color: #9c9c9c;
  margin: 0 0 10px;
  display: inline-block;
  margin: 0;
}
.services .content .text-services i {
  margin-right: 20px;
  font-size: 30px;
}
.services .content p {
  color: #777;
  line-height: 1.6;
  font-size: 18px;
}
.services .content span {
  color: #e2494c;
  text-align: left;
  font-weight: bold;
}
.services .content span::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  margin-left: 10px;
}

.our-players .content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
@media (max-width: 991px) {
  .our-players .content .box {
    text-align: center;
  }
}
.our-players .content .img-services img {
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.our-players .content h2 {
  font-size: 22px;
  font-weight: bold;
}
.our-players .content p {
  color: #777;
  font-size: 18px;
  line-height: 1.6;
}
.our-players .content span {
  color: #e2494c;
  text-align: left;
  font-weight: bold;
}

.lorem {
  padding-bottom: 100px;
}
.lorem .content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.lorem .content .box-img img {
  max-width: 100%;
  border: 2px solid #ccc;
  background-color: #fff;
  padding: 2px;
}

.footer {
  background-color: #9c9c9c;
}
.footer .content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
@media (max-width: 991px) {
  .footer .content {
    text-align: center;
  }
}
.footer .content .box h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 20px 0 10px 0;
}
.footer .content .box img {
  width: 130px;
  height: 130px;
  border: 2px solid #ccc;
  padding: 3px;
  margin-right: 10px;
}
.footer .content .box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .footer .content .box .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .content .box .text .info {
  padding: 25px 0 0 0;
}
.footer .content .box .text .info h3 {
  margin: 0;
  color: #e2494c;
  font-weight: bold;
}
.footer .content .box .text .info p {
  line-height: 1.8;
  color: #777;
  font-size: 15px;
  margin: 10px 0 0 0;
  width: 100%;
  font-size: 16px;
}
.footer .content .box .detales {
  margin-top: 35px;
}
.footer .content .box .detales span {
  display: block;
  margin-bottom: 10px;
  color: #777;
}
.footer .content .box .addres p {
  color: #777;
  margin-bottom: 10px;
}
.footer .content .box .addres p span {
  color: #e2494c;
  font-weight: bold;
}
.footer .content .box .offical {
  color: #777;
}
.footer .content .box .forms input:not(:last-of-type),
.footer .content .box .forms textarea {
  display: block;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  margin: 20px 0 10px;
  border-radius: 5px;
  overflow: hidden;
}
.footer .content .box .forms textarea {
  height: 140px;
}
.footer .content .box .forms .submit {
  color: #fff;
  background-color: #e2494c;
  text-transform: uppercase;
  padding: 15px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 120px;
}
.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ccc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer .copyright {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
}

/* Start media */
/* small screen  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* media screen  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End media */